
#izquierda{
    height:100%;
       
        float:left;
        width:50%;
}
#derecha{
        height:100%;
      
        float:right;
        width:50%;
       
}
body {
    font-family: var(--font-default);
    color: var(--color-default);
    background-color:black;
    background-repeat: no-repeat;
    background-size: cover;
}
h2 
{
      font-family: sans-serif;
color: aliceblue;
}
#header{
    display: flexbox;
    margin:0px;
    

}
